@using Sdl.Web.Mvc.Html
@using Sdl.Web.Site.Areas.Info.Models


<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of assemblies</title>
    <link rel="stylesheet" href="@Url.VersionedContent("/assets/css/main.css")">
    <script src="@Url.VersionedContent("/assets/scripts/header.js")"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/system/assets/scripts/ie.js"></script>
    <![endif]-->
</head>
<body>
    <header id="page-header" class="page-row navbar navbar-default">
        <div class="container-fluid page-border">
            <div class="row">
                <div class="col-xs-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav main-nav">
                            <li class="">
                                <a href="/index">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-row page-row-expanded" role="main">
        <div class="container-fluid page-border">
            <h2>List of Assemblies</h2>
            <table class="table table-hover small">
                <thead><tr><th class="">Assembly Name</th><th>Assembly version</th></tr></thead>

                @foreach (AssemblyInfo info in ViewBag.Assemblies)
                {
                    <tr class="@(@info.IsSdl? "warning":@info.IsDd4t?"active" : "")">
                        <td>
                            @if (info.IsSdl)
                            {
                                <img src="https://dr0muzwhcp26z.cloudfront.net/cassette.axd/file/Content/themes/base/global/images/SDL-logo_-770524f0c6ee38a82d6dddc978481473ce84f3b3.svg" height="15" alt="sdl logo" />
                            }
                            @if (info.IsDd4t)
                            {
                                <img src="http://dd4t.org/assets/img/logo_black.png" height="15" alt="dd4t logo" />
                            }
                            @info.Name
                        </td>
                        <td>
                            @info.Version
                        </td>
                    </tr>
                }

            </table>
        </div>
    </main>
    <script src="@Url.VersionedContent("/assets/scripts/main.js")"></script>
</body>
</html>